.img {
  width: 100%;
  height: 100%;
}
/* .modal {
  position: relative;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
} */
/* .Overlay {
  background-color: rgb(0, 0, 0);
} */
 .Modal {
   position: absolute;
   top: 10%;
   left: 10%;
   right: 10%;
   bottom: 10%;
   background-color: papayawhip;
 }

 .Overlay {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: rgba(125, 125, 125, 0.651);
 }