.loadMore {
  width: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
  padding: 10px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  border: none;
  background-color: #4b75ff;
  border-radius: 5px;
  transition-property: background-color;
  transition-duration: 100ms;
  transition-timing-function: linear;
}
.loadMore:hover {
  background-color: #6a8af2;
}